[Unit]
Description=ElasticSearch Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=ELK_PATH/elasticsearch/bin/elasticsearch
PIDFile=ELK_PATH/elasticsearch/run/elasticsearch.pid

User=ELK_USER
Group=ELK_USER

Type=simple
Restart=always

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
TimeoutStopSec=0

KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no

SuccessExitStatus=143
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target