[Unit]
Description=Kibana Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=ELK_PATH/kibana/bin/kibana
PIDFile=ELK_PATH/kibana/run/kibana.pid
Restart=always

User=ELK_USER
Group=ELK_USER

StandardOutput=journal
StandardError=inherit

TimeoutStopSec=0

KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no

TimeoutStartSec=900

[Install]
WantedBy=multi-user.target